*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* border:1px solid #000; */
}
*::selection{
    background: #99f771;
    color:#ffffff;
}
body{
    background: #ffffff;
}
/* SlimScrollBar */
.slimScrollBar_new{
    height: 400px !important;
}
/* navbar */
.top-navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
img{
    width: 200px;
    height:58px;
}
.nav-bar{
    display: flex;
    padding-right:5rem;
}
.nav-bar a{
    color:#989998;
    text-decoration: none;
    font-size: 14px;
    padding:10px 8px;
    margin:0px 8px;
    line-height: 1;
    /* border-bottom: 2px solid #7ed957; */
}
.nav-bar a:last-of-type{
    border: 2px solid #7ed957;
    border-radius: 5px;
    margin-left: 2.8rem;
    padding:8px 10px;
}
.fa-sign-in-alt{
    color: #7ed957;
}
.exam-logo{
    padding:6px 24px;
}
/* navbar end */

/* banner and signup form start */
.banner-image{
    height:520px;
    width: 100%;
    padding: 26px;
    margin-left: 3.4rem;
}
.banner-image img{
    width: 100%;
    height:100%;
}
.signup-form-wrap{
    padding:10px;
    display: flex;
    justify-content: center;
}
.signup-form{
    height: 420px;
    width:560px;
    margin-top: 2.4rem;
    border-radius: 20px;
    background: #7ed957;
    color: #ffffff;
    padding: 26px 40px;
    text-align: center;
}
.signup-form h2{
    text-align: center;
    font-size: 26px;
}
.signup-form p{
    font-size: 15px;
}
.signup-form form input, .signup-form form select{
    width: 100%;
    height:40px;
    border-radius: 8px;
    border: 1px solid #bfc0bf;
    outline: none;
    margin:10px 0px;
    padding:2px 13px;
    font-size: 14px;
    color: #989998;
}
.signup-form form input::placeholder{
    color: #989998;
    font-size: 14px;
}
.signup-form input[type=submit]{
    color:#ffffff;
    background: #1b1b1b;
    border: none;
    font-size: 16px;
    font-weight: 500;
}
.signup-form input[type=submit]:hover{
    background: #302f2f;
}
/* banner and signup form end */

/*Exam Desk About */
.about{
    margin-top: 3rem;
    padding: 1rem 4rem;
    color:#4f5250;
}
.about h1{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
}
.about span{
    color:#7ed957;
    text-decoration: none !important;
}
.about-wrap{
    display: flex;
    justify-content: center;
    margin: auto;
}
.about-image{
    width:35%;
    height:380px;
}
.about-image img{
    width: 100%;
    height:100%;
}
.about-wrap .about-para{
    width:45%;
    padding: 4rem 3rem;
    text-align: justify;
}
.about-para h1{
    text-align: left;
    font-size: 35px;
    text-decoration: none !important;
}
.about-para p{
    margin-bottom: 0.5rem !important;
}
/* exam desk about end */

/* exam desk service start */
.services{
    margin-top: 4rem;
    padding: 100px 180px;
    color:#ffffff;
    background: #7ed957;
}
.service-box{
    justify-content: space-around;
    margin-top: 2rem;
}
.services h1{
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    margin-top: 1.8rem;
}
.services p{
    text-align: center;
    font-size: 24px;
    padding: 10px;
    font-weight: 300;
}
.sub-service-box{
    background: #ffffff;
    width:280px !important;
    border-radius: 10px;
    color:#4f5250;
    padding: 20px;
}
.sub-service-image{
    width:150px;
    height:150px;
    margin: auto;
}
.sub-service-image img{
    width:100%;
    height: 100%;
}
.sub-service-box h2{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.sub-service-box p{
    text-align: justify;
    font-size: 16px;
    color: #919291;
}
/* exam desk service end */

/*  exam desk contact us start */
.contact{
    margin-top: 4rem;
    text-align: center;
    padding: 25px 60px;
}
.contact h1{
    font-size: 40px;
    font-weight: 700;
}
.contact-wrap{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    /* border: 1px solid #000; */
}
.contact-wrap .contact-image{
    width:35%;
    height:416px;
}
.contact-wrap .contact-image img{
    width:100%;
    height:100%;
}
.contact-form{
    width:45%;
    padding:40px 50px;
}
.contact-form p{
    font-size: 18px;
    font-weight: 500;
    color: #707070;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    height:40px;
    border-radius: 8px;
    border: 1px solid #bfc0bfdc;
    outline: none;
    margin:10px 0px;
    padding:2px 13px;
    font-size: 14px;
    color: #989998;
}
.contact-form textarea{
    height:100px;
    resize: none;
}
.contact-form input[type=submit]{
    background: #7ed957;
    color: #ffffff;
    font-size: 16px;
    border: none;
    font-weight: 600;
}
/* exam desk contact us end */

/* exam desk footer start */
.footer{
    margin-top: 3rem !important;
    background: #515351;
    padding: 40px;
    border-top: 4px solid #323333;
    justify-content: center;
    color:#eeeded;
}
.footer h1{
    font-size: 20px;
    color: #7ed957;
    font-weight: 600;
    margin-bottom: 15px;
}
.reach{
    padding-left:40px;
}
.reach nav{
    display: flex;
    flex-flow: column;
}
.reach nav a{
    color:#dfdddd;
    text-decoration: none;
    font-size: 14px;
    padding:2px 0px;
    font-weight: 500;
}
.social-link-main{
    padding:0px 50px;
}
.social-link{
    display: flex;
}
.social-link a{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#ffffff;
    width: 34px;
    height:34px;
    padding: 2px;
    border-radius: 20px;
    margin-right:20px;
}
.social-link a img{
    width: 18px;
    height:18px;
    color:#000;
}
.newsletter{
    padding:0px 40px;
}
.newsletter form{
    position: relative;
}
.newsletter input{
    width: 100%;
    height:40px;
    border-radius: 8px;
    border: 1px solid #bfc0bfdc;
    outline: none;
    margin:4px 0px;
    padding:2px 13px;
    font-size: 14px;
    color: #989998;
}
.newsletter input[type=submit]{
    position: absolute;
    width:100px;
    height:40px;
    border: none;
    background: #7ed957;
    color:#ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 0px 8px 8px 0px;
    left:75%;
}

/* login page css start*/
.main-wrap{
    background: linear-gradient(#75ce50 20%,#76ce51 40%);
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-container{
    display: flex;
    width:860px;
    height:530px;
    background:#fff;
    /* border-radius: 10px; */
}
.img-box{
    width:50%;
    height: 100%;
    background-image: url(../images/login-images/photo4.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: rgb(170, 32, 129); */
}
.link-home{
    padding: 22px;
}
.link-home a{
    text-decoration: none;
    color:#989998;
    font-size: 14px;
    margin-top: 10px;
}
.link-home a .fa-home{
    color: #7fe454;
}
.form-wrap{
    /* font-family: Arial; */
    width:50%;
    height: 100%;
    padding: 20px;
}
.form-wrap .top-signup{
    text-align: right;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(155, 152, 152);
}
.form-wrap .signup-btn{
    text-decoration: none;
    color: rgb(155, 152, 152);
    border: 1px solid #7ed957;
    padding: 4px 8px;
    font-size: 12px;
    margin-left: 8px;
    border-radius: 16px;
}
.form-wrap .signup-btn:hover{
    background-color: rgba(247, 247, 247, 0.651);
}
.form-wrap .mid-container{
    padding-top: 40px;
    padding-left: 40px;
}
.mid-container h1{
    font-size: 32px;
    color: #2f302f;
    font-weight: 600;
}
.mid-container h6{
    font-size: 16px;
    font-weight: 400;
    padding: 4px 2px;
    letter-spacing: 0.002rem;
    color:rgb(155, 152, 152);
}
.mid-container .form{
    padding-top: 16px;
}
.mid-container .form label{
    font-size: 16px;
    margin-bottom: 4px;
}
.mid-container .form input{
    width:320px;
    margin:0px;
    height:33px;
    color:rgb(155, 152, 152);
    padding-left: 8px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid rgb(216, 215, 215);
}
.mid-container .form input:focus{
    border: 1px solid rgb(182, 180, 180);
    outline: none;
}
.mid-container .form input::placeholder{
    color: rgb(175, 174, 174);
    font-size: 13px;
}
.fg-pass{
    color:rgb(175, 174, 174);
    font-size: 14px;
    text-decoration: none;
}
.fg-pass:hover{
    color: #88e460;
}
.mid-container .form .login-btn{
    padding:6px;
    cursor: pointer;
    width: 140px;
    font-size: 16px;
    background-color: rgb(114, 114, 248);
    color: rgb(247, 244, 244);
    border-radius:20px;
    border: none;
}
.mid-container .form .login-btn:hover{
    background-color: rgba(39, 39, 175, 0.938);
    transition: all ease 1s;
}
.login-with{
    padding: 50px 40px;
    display: flex;
    align-items: center;
}
.login-with span{
    color: rgb(163, 162, 162);
    margin-right: 12px;
}
.login-with a{
    border: 1px solid rgb(211, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding:10px;
    width:35px;
    margin: 4px 5px;
    height:35px;
}
.login-with a img{
    width:18px;
    height:18px;
}
/* login page css end */