
/* Wavefire_coding */
/* This script is written by suraj aswal and purely designed with CSS display grid property */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styling */

.item-1{
    grid-area: header; 
    padding:0px 35px;
    background-color: rgb(255, 255, 255);
}
.item-1 .header-box{
    display: flex;
    position: relative;
}
.item-1 .logo-box{
    height:100%;
    width:15%;
}
.item-1 .logo-box img{
    height: 100%;
    width:100%;
}
.item-1 .heading{
    width:85%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.item-1 .heading p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 28px;
}
.heading p span{
    color: #8a2be2;
}

/* header styling end */

/* side-bar start */
.item-2{
    grid-area: menu; 
    box-sizing: border-box;
    padding:12px;
    text-align: center;
}
.item-2 ul{
    display: block;
}
.item-2 .list-menu{
    display:block;
    box-sizing: border-box;
    padding: 8px;
    text-align: left;
    margin: 5px 0px;
    color:#000;
} 
.item-2 .list-menu:hover{
    background-color: blueviolet;
    border-radius: 5px;
    color:#fff;
}
/* side-bar end */
/* @wavefire_coding */
/* main section */

.item-3{
    grid-area: section; 
    padding: 25px;
    box-sizing: border-box;
    border-left:1px solid rgb(156, 63, 243);
    border-right:1px solid rgb(156, 63, 243);
}
.item-3 .section-heading{
    padding:15px;
    margin-bottom: 1.3rem;
}
.section-heading h1{
    font-size: 42px;
    color: #111013;
}
.item-3 .main-section{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 150px 150px 150px;
    grid-gap: 40px;
}
.item-3 .main-section .content-box{
    font-size: 38px;
    color: #fff;
    font-weight: 700;
    padding-top: 48px;
    text-align: center;
    border-radius: 8px;
    box-sizing: border-box;
}
.item-3 .main-section .content-box-1{
    background-color: rgb(235, 62, 32);
}
.item-3 .main-section .content-box-1:hover{
    background-color: rgb(196, 48, 22);
}
.item-3 .main-section .content-box-2{
    background-color: rgb(29, 156, 240);
}
.item-3 .main-section .content-box-2:hover{
    background-color: rgb(6, 119, 194);
}
.item-3 .main-section .content-box-3{
    background-color: rgb(245, 175, 12);
}
.item-3 .main-section .content-box-3:hover{
    background-color: rgb(224, 162, 16);
}
.item-3 .main-section .content-box-4{
    background-color: rgb(5, 91, 148);
}
.item-3 .main-section .content-box-4:hover{
    background-color: rgb(8, 57, 90);
}
.item-3 .main-section .content-box-5{
    background-color: rgb(218, 45, 60);
}
.item-3 .main-section .content-box-6{
    background-color: rgb(27, 177, 52);
}
.item-3 .pagination{
    /* background-color: dodgerblue; */
    margin-top: 4rem;
}
.item-3 .pagination ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-3 .pagination ul li{
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    margin: 0px 6px;
    background-color: blueviolet;
}
/* main section end */

/* optional section */
.item-4{
    grid-area:right; 
    /* background-color: rgb(243, 155, 13); */
}
/* optional section end */

/* footer start */

.item-5{
    grid-area: footer; 
    background-color: rgb(63, 61, 63);
}
.item-5 .footer-box{
    padding: 30px;
    display: flex;
    width:100%;
}
.item-5 .footer-box .about{
    width:33%;
    color:#fff;
    padding:10px;
    font-size: 16px;
}
.item-5 .footer-box .contact{
    width:33%;
    color:#fff;
    padding: 10px 50px;
    font-size: 16px;
}
.item-5 .footer-box .contact a, .item-5 .footer-box .links a{
    color:#fff;
    display: block;
    margin:5px;
    text-decoration: none;
}
.item-5 .footer-box .links{
    width:33%;
    padding: 10px 50px;
    color:#fff;
    font-size: 16px;
}
.item-6{
    grid-area: nav-bar; 
    background-color: #8a2be2;
    padding:14px;
    text-align: center;
}
.item-6 a{
    text-decoration: none;
    color: #fbfbfb;
    font-size: 15px;
    margin: 0px 8px;
}
.grid-container{
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 200px 50px 800px 200px;
    grid-template-areas: 'header header header header header header'
                          'nav-bar nav-bar nav-bar nav-bar nav-bar nav-bar'
                          'menu section section section section right'
                          'footer footer footer footer footer footer';
    /* padding: 20px; */
    /* grid-gap:10px ; */
    /* background-color: chocolate; */
}
.copyright{
    display: block;
    width:100%;
    background-color: #fff;
    color: #000;
    text-align: center;
    padding:2px 8px;
}
.copyright a{
    text-decoration: none;
    color: #8a2be2;
}
.copyright a span{
    color: #b40909;
    font-size: 20px;
    vertical-align: middle;
}